p, h1, h2, h3, h4, h5, h6, a, img, ul, li {
  margin: 0;
  padding: 0;
}
.page {
  width: 100%;
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  /* выше присвоены шрифты для всей страницы*/
  box-sizing: border-box;
}

.subtitle2 {
  font-size: 18px;
  font-weight: normal;
}
/*стиль для текстов*/

.text_bold {
  font-weight: bold;
}

.link {
  color: #2f80ed;
  text-decoration: none;
}
/*стиль для ссылок*/

.title3 {
  font-size: 18px;
  color: #2f80ed;
  line-height: 1.2;
  font-weight: normal;
}
/*стиль для заголовков 3го типа*/

/*стили для хедера*/
.header {
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
  max-height: 756px;
  background: #f2f2f2;
  overflow: hidden;
}


.block-logo {
  width: 183px;
  height: 32px;
}
/*логотип*/

.logo_place_header {
  position: absolute;
  z-index: 11;
  top: 30px;
  left: 64px;
  background-image: url('../images/logo_place_header.svg');
  background-position: center;
  background-size: cover;
}
/*логотип для хедера*/

.header-title {
  z-index: 7;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  width: 730px;
  margin-left: 64px;
}
/*титул в хедере*/

.header-subtitle {
  position: absolute;
  z-index: 7; 
  bottom: 30px;
  left: 64px;
  width: 388px;
}
/*описание*/

.header__subtitle_link {
  font-size: 18px;
}
/*ссылка в описании*/

.header-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 5;
  width: 765px;
  height: 608px;
  background-image: url('../images/header-image.png');
  background-position: center;
  background-size: cover;
}
/*картинка в шапке передний план*/

.header__square-pic {
  position: absolute;
  right: 0;
  top: 64px;
  z-index: 0;
  height: 568px;
  width: 568px;
  background: #2f80ed;
}
/*картинка в шапке квадрат*/

/*стили для 2го блока*/
.description {
  display: flex;
  justify-content: center;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  margin: 100px 0;
  width: 80%;
}

.two-columns_brief {
  width: 175px;
}

.two-columns_main-text {
  width: 80%;
  min-width: 784px;
}

.two-coluns_text {
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 30px;
}

.two-coluns_text:last-of-type {
  margin-bottom: 0;
}

/*стили для 2го блока*/
.digits {
  display: flex;
  justify-content: center;
}

.section-cont {
  width: 1100px;
  margin: 100px 0;
}

.section-title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  width: 60%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 20px;
}
.section-subtitle {
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  text-align: center;
  margin: 0 auto;
  line-height: 34px;
  text-align: center;
}
.section-table {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section-table__cell {
  margin-top: 60px;
  width: 250px;
}
.section-table__cell_title {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}
.section-table__cell_text {
  margin: 20px 0;
  line-height: 1.2;
  font-size: 18px;
}

.section-table__cell_text:last-of-type {
  margin-bottom: 0;
}

/*стили для 3го блока*/
.feynman { 
  position: relative;
  min-height: 885px;
}
.feynman-cont {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.feynman-title {
  width: 648px;
  text-align: center;
  margin-top: 100px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}
.feynman-subtitle {
  margin-top: 70px;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}
.feynman-link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
}
.feynman-img {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 867px;
  height: 637px;
  background-image: url('../images/feynman.png');
  background-position: center;
  background-size: cover;
}

/*стили для 4го блока*/
.kaufman {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 2;
  overflow: hidden;
  background-color: #1f1f1f;
}

.kaufman_triagle-img {
  position: absolute;
  top: 0;
  right: -210px;
  width: 877px;
  height: 877px;
  background-image: url('../images/kaufman-triangle.svg');
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.section-title_theme_dark {
  color: white;
}

.section-subtitle_theme_dark {
  color: white;
}

.section-table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}

/*стили для футера*/
.footer {
  background-color: #1f1f1f;
  padding: 60px 0 40px 0;
  color: white;
}

.footer-columns {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
}

.footer-column {
  min-height: 250px;
}

.footer-content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
  background-size: cover;
  background-position: center;
  height: 35px;
}

.author {
  line-height: 25px;
  font-size: 18px;
  margin: 18px 0;
}

.footer-column_heading {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 20px;
}

.footer-column_link {
  list-style: none;
  
}

.footer_link {
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  color: white;
}

.footer__social_logo {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  margin-bottom: -2px;
}